@font-face {
  font-family: "Montserrat";
  src: url("../fonts/static/Montserrat-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/static/Montserrat-Regular.ttf") format("ttf");
  font-weight: 700;
}