$display_width: width;

$text_color: #252b42;
$second_text_color: #737373;
$light_text_color: #fff;
$background_color_dark: #f5f5f5;
$background_color_light: #fff;
$contact-block_color: #16697a;
$accent_orange: #ffa62b;
$accent_blue: #00A0C1;